body{
  font-family:  "Source Code Pro", monospace;
}
.nav{
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.object {
  background-image: url(Object.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
 
  
 } 
header{
  float: left;
  width: 100%;
  padding-top: 25px;
  padding-left: 75px;
}
nav{
  display: inline;
}
nav > img{
 float: left;
 
}
nav ul li{
  float: right;
  list-style: none;
  width: 10%;
}

h1{
  clear: both;
  padding-top: 170px;
  font-size: 150px;
  font-weight: bold;
  margin-bottom: 0;
}
nav{
  color: white;
}
#register{
  text-align: center;
}

.button{
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  background-color: rgba(200, 128, 255);
  border-style: none;
  border-radius: 17px;
  padding: 10px 15px;
  color: white;
  box-shadow: 5px 7px 8px rgb(66, 65, 65);
  margin-left: 50px auto;

}
.learning{
  text-align: center;
  padding-top: 220px;
  padding-bottom: 40px;
}

.container-two{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.images{
  display: block;
  text-align: center;
  font-style: italic;
}
#learn{
  color: rgba(136, 96, 176);
  padding-left: 20px;
}
span{
  padding-left: 55px;
  font-weight: bold;
}
.bruce{
  border-radius: 50%;
}
.tutorials{
  /* display: flex;
  justify-content: space-evenly;
  text-align: center; */
  display: flex;
  justify-content: space-around;
  margin: 0 0 0 50px;
}
.tutorial-making{
  text-align: center;
}
.weather-presenter{
  display: flex;
  justify-content: center;
  background-color: rgba(195, 112, 255);
  padding: 75px 95px;
  color: white;
  margin-top: 0;
 }
blockquote{
  width: 85%;
  }
.below-blocquote{
  padding-left: 37px;
}
footer p {
  text-align: center;
  clear: both;
}
footer{
  clear: both;
  background-color: rgba(7, 22, 40);
  padding-bottom: 10px;
  
}
.footer{
  float: left;
  width: 100%;
  padding: 50px 45px 40px 55px;
}
.footer1{
  float: right;
  width: 15%;
  padding-left: 164px;
 
  }
.fa-brands{
  background-color: antiquewhite;
  border-radius: 50%;
  padding: 5px;
}
.smile{
  color: gray;
}