body, main{
  display: flex;
}
body{
  flex-direction: column;
}
main{
  flex-direction: row;
  flex: auto;
}
article{
  flex: 2;
  overflow-y: auto;
}
aside {
  flex: 1;
  overflow-y: auto
}

main, aside{
  background-color: green;
}
aside > p:hover{
  box-shadow: 5px 5px purple;
}
